body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  background: #e2e4e7;
  padding: 10px;
  border-radius: 3px;
}

.grid > span {
  border-radius: 3px;
  background: white;
  color: #888;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
